.listElement {
  min-width: 410px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
}
h1{
  color: var(--text-color);
}

.listElement .immagineLista {
  font-size: 70px;
  float: left;
  margin-right: 10px;
  border: 2px solid var(--text-color);

  border-radius: 50%;

  padding: 20px;
}

.mediumText {
  font-size: 30px;
}


#utentiTotali {
  background-color: limegreen;
}

#utentiTotali i {
  background-color: green;
}

#venditoriTotali {
  background-color: orange;
}

#venditoriTotali i {
  background-color: darkorange;
}

#bigliettiVenduti {
  background-color: deepskyblue;
}

#bigliettiVenduti i {
  background-color: dodgerblue;
}

#transazioniEffettuate {
  background-color: palevioletred;
}

#transazioniEffettuate i {
  background-color: mediumvioletred;
}

#caricaOfferte {
  background-color: mediumpurple;
  cursor: pointer;
}
#caricaOfferte:hover {
  background-color: darkviolet;
  color: var(--secondary-text-color);
}


#caricaOfferte i {
  background-color: darkviolet;
}

.list {
  color: var(--text-color) ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}


body{
  padding: 20px;
  background-color: var(--accent-color);
  height: auto;
}


@media (max-width: 875px) {
  .list {
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
  }

  #chart-container {
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
  }
}

.chart-visible {
  border-radius: 10%;
}

#chart-container {
  background-color: var(--accent-color);
  color: var(--text-color);
  max-width: 100%;
  display: flex;
  gap: 3%;
  justify-content: space-between;
  align-items: flex-start;
}



.chart {
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 100%;
  padding: 10px;
  flex: auto;
  margin-top: 3%;
  width: 100%;
  border-radius: 10px;
  font-size: 30px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-column: 1;
}

.chartChevron{

  font-size: 60px;
  height: auto;
  grid-column: 2;
  cursor: pointer;
  transition: transform 0.8s;
  transform-origin: center;
}
.chart-visible .chartChevron {
  transform: rotate(180deg);

}







