.terms-and-conditions {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--background-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0 ,0, 0.8);
}

.terms-and-conditions h2 {
  color: var(--text-color);
}

.terms-and-conditions ol {
  list-style-type: decimal;
  margin-top: 10px;
}

.terms-and-conditions ol ol {
  list-style-type: lower-alpha;
  margin-top: 5px;
}

.terms-and-conditions h3 {
  color: var(--text-color);
}

.terms-and-conditions p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 15px;
}
