<div class="container animate__animated animate__fadeIn" id="chisiamo">
  <div>
    <h1><strong>Ready2Road</strong></h1>
  </div>
  <div id="img1">
    <img src="assets/img/img1.png" class="rounded">
    <div style="margin-left: 10px" id="desc1">
      <p>
        Benvenuti su Ready2Road, la vostra destinazione di fiducia per un viaggio senza complicazioni e pieno di
        avventure. <br> Siamo un team appassionato di viaggi, unito dalla missione comune di semplificare e
        migliorare la vostra esperienza di prenotazione di viaggi.
      </p>
      <b><h5><i class="fa-solid fa-landmark"></i> La nostra storia <i class="fa-solid fa-landmark"></i></h5></b>
      <p>
        Nata da un'idea condivisa di rendere il viaggio accessibile a tutti, Ready2Road è cresciuta nel corso
        degli anni grazie alla nostra dedizione per offrire servizi di alta qualità. <br>
        La nostra storia è intrecciata con le storie dei nostri clienti, i quali hanno trovato in
        noi un compagno di fiducia per ogni loro viaggio.
      </p>
      <b><h5><i class="fa-solid fa-compass"></i> La nostra visione <i class="fa-solid fa-compass"></i></h5></b>
      <p>
        Abbiamo creato Ready2Road con l'obiettivo di offrire un modo facile e conveniente per prenotare
        biglietti di viaggio per aerei, treni e autobus. <br> La nostra visione è quella di diventare la
        vostra destinazione preferita per tutte le vostre esigenze di viaggio, offrendo una gamma
        completa di opzioni e garantendo un servizio affidabile.
      </p>
    </div>
  </div>
  <div id="img2">
    <div style="margin-right: 10px; justify-content: left; width: 100%;" id="desc2">
      <b><h5><i class="fa-solid fa-dumbbell"></i> Punti Forti <i class="fa-solid fa-dumbbell"></i></h5></b>
      <ul>
        <li>
          <b>Team appassionato: </b>Dietro ogni successo di Ready2Road c'è un team appassionato di professionisti del settore, impegnato a offrirvi soluzioni innovative e un servizio personalizzato.
        </li>
        <li>
          <b>Innovazione Tecnologica: </b>Abbiamo abbracciato le ultime tecnologie per semplificare il processo di prenotazione, mettendo a vostra disposizione uno strumento intuitivo e facile da usare.
        </li>
        <li>
          <b>Relazioni di Fiducia: </b>La fiducia dei nostri clienti è la chiave del nostro successo. Ci impegniamo a mantenere elevati standard di trasparenza e affidabilità in ogni transazione.
        </li>
      </ul>
      <b><h5><i class="fa-solid fa-user-tie"></i> Cosa Offriamo <i class="fa-solid fa-user-tie"></i></h5></b>
      <ul>
        <li>
          <b>Variegata Selezione: </b>Scegli tra una vasta gamma di opzioni di viaggio, adattate alle vostre esigenze e al vostro stile.
        </li>
        <li>
          <b>Semplicità di Prenotazione: </b>Rendiamo la prenotazione di viaggi un'esperienza senza complicazioni. Con pochi clic, potete pianificare il vostro prossimo viaggio in modo rapido e intuitivo.
        </li>
        <li>
          <b>Trasparenza e Affidabilità: </b>Ci impegniamo per la massima trasparenza nei prezzi e nelle condizioni. La nostra priorità è offrire un servizio affidabile e onesto.
        </li>
      </ul>
    </div>
    <img src="assets/img/img2.png" class="rounded">
  </div>
  <div id="img3">
    <img src="assets/img/img3.png" class="rounded">
    <div style="margin-left: 10px;" id="desc3">
      <b><h5><i class="fa-solid fa-rocket"></i> Il Nostro Impegno <i class="fa-solid fa-rocket"></i></h5></b>
      Siamo consapevoli che ogni viaggio è un'opportunità unica di scoperta e avventura. Il nostro impegno è rendere ogni aspetto del vostro viaggio memorabile e senza preoccupazioni. Ogni giorno lavoriamo per migliorare la vostra esperienza su Ready2Road, ascoltando i vostri feedback e adattandoci alle vostre esigenze in continua evoluzione. <br><br>
      Grazie per scegliere Ready2Road come vostro compagno di viaggio. Siamo pronti per accompagnarvi in ogni avventura, dalla partenza al ritorno a casa. <br><br>
      Pronti per la strada? Siamo pronti per accompagnarvi!
    </div>
  </div>
</div>
