
#MyChart3{
  min-height: 300px;
  max-width: 100%;

}
#selectAYear-container{
  padding: 0 2% 2% 2%;

}
#selectAYear{
  background-color: var(--component-color); /* Colore di sfondo */
  color: var(--text-color);
  padding: 1%; /* Spaziatura interna */
  margin: 10px 0; /* Margine esterno sopra e sotto */
  border-radius: 8px; /* Bordo arrotondato */
  box-shadow: 0 2px 4px var(--shadow-color); /* Ombra */
}


