<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-2 align-right d-flex flex-row justify-content-center" style="width: 100%;">
      <a class="nav-link" href="http://localhost:8080/registerSeller.html">Lavora con noi</a>
      <a class="nav-link" routerLink="chisiamo" style="margin-left: 10px;">Chi siamo</a>
      <a class="nav-link" routerLink="terminicondizioni" style="margin-left: 10px;">Termini e condizioni</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <hr class="footer-line">
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-2 text-center"> <img src="../../../assets/img/logo.png" alt="Ready2Road Logo" class="footer-logo">
    </div>
    <div class="col-lg-8 text-center" style="color: var(--secondary-text-color);">
        Il nostro servizio di prenotazioni di biglietti per voli, treni e bus è fornito a scopo didattico e simulato per il progetto di Web Applications. Tutti i dati e le informazioni presenti su questo sito sono inventati e non riflettono la realtà. Non siamo responsabili per eventuali errori o incongruenze nei dati forniti. I dati inseriti non verranno divulgati ma non possiamo garantirne la totale sicurezza, pertanto consigliamo di non inserire dati sensibili. Immagine e logo sono protetti da copyright ©2024 Unical.
    </div>
  </div>
</div>
