<div class="terms-and-conditions animate__animated animate__fadeIn">
  <h1>Termini e Condizioni</h1>
  <p>
    Benvenuto su Ready2Road, la tua piattaforma per l'acquisto di biglietti di viaggio per aerei, treni e autobus. Prima di procedere con l'utilizzo dei nostri servizi, ti preghiamo di leggere attentamente i seguenti Termini e Condizioni. Utilizzando il nostro sito web, accetti di essere vincolato da tali condizioni. Se non sei d'accordo con qualsiasi parte di questi Termini e Condizioni, ti invitiamo a non utilizzare i nostri servizi.
  </p>

  <ol>
      <h3><i class="fa-solid fa-file-lines"></i> Accettazione delle Condizioni</h3>
      <ol>
        <li>Accetti di rispettare integralmente e senza riserve tutti i Termini e Condizioni stabiliti da Ready2Road.</li>
        <li>Ci impegniamo a preservare la riservatezza dei tuoi dati personali, tuttavia, non possiamo garantire la completa sicurezza delle informazioni. Accetti che l'utilizzo dei nostri servizi è a tuo rischio e che non saremo responsabili per eventuali violazioni della sicurezza che possano verificarsi.</li>
        <li>Ci riserviamo il diritto di modificare o aggiornare questi Termini e Condizioni in qualsiasi momento senza preavviso. Le modifiche saranno efficaci immediatamente dopo la loro pubblicazione sul nostro sito web. L'uso continuato del nostro sito costituirà accettazione di tali modifiche.</li>
      </ol>

      <h3><i class="fa-solid fa-cart-shopping"></i> Acquisto di Biglietti</h3>
      <ol>
        <li>Ready2Road agisce come intermediario nella vendita di biglietti di viaggio per aerei, treni e autobus. Non siamo responsabili per eventuali cambiamenti negli orari, tariffe o condizioni di viaggio stabiliti dai vettori di trasporto.</li>
        <li>I prezzi dei biglietti sono espressi in valuta locale e possono variare in base alla disponibilità e alle tariffe dei vettori di trasporto. Ready2Road non è responsabile per eventuali differenze di prezzo riscontrate durante la procedura di acquisto.</li>
      </ol>

      <h3><i class="fa-solid fa-plane-slash"></i> Politica di Cancellazione e Rimborso</h3>
      <ol>
        <li>Le politiche di cancellazione e rimborso sono stabilite dai vettori di trasporto. Ready2Road farà del suo meglio per informarti in anticipo di tali politiche, ma non è responsabile per cambiamenti imprevisti da parte dei vettori.</li>
        <li>Qualsiasi richiesta di cancellazione o rimborso deve essere effettuata secondo le politiche stabilite dal vettore di trasporto. Ready2Road collaborerà per agevolare tale processo, ma non può garantire la riuscita di tali richieste.</li>
      </ol>

      <h3><i class="fa-solid fa-hourglass-half"></i> Responsabilità e Limitazioni</h3>
      <ol>
        <li>Ready2Road non è responsabile per eventuali ritardi, cancellazioni, danni o perdite derivanti dall'utilizzo dei servizi offerti sul nostro sito web. La responsabilità è interamente a carico dei vettori di trasporto.</li>
        <li>Ready2Road non è responsabile per l'accuratezza delle informazioni fornite dai vettori di trasporto, inclusi orari, tariffe e condizioni di viaggio.</li>
      </ol>

      <h3><i class="fa-solid fa-user-lock"></i> Protezione dei Dati Personali</h3>
      <ol>
        <li>Ready2Road si impegna a proteggere la tua privacy. Per ulteriori informazioni sulla raccolta e l'uso dei dati personali, consulta la nostra Informativa sulla Privacy disponibile sul nostro sito web.</li>
      </ol>
  </ol>

  <p>
    Accettando questi Termini e Condizioni, confermi di aver letto e compreso la nostra Informativa sulla Privacy.
  </p>
  <p>
    Alcune immagini presenti su questo sito sono utilizzate con il permesso del rispettivo detentore dei diritti d'autore e sono soggette a copyright. Desideriamo ringraziare il detentore dei diritti d'autore per concederci il permesso di utilizzare tali immagini.
  </p>
</div>
