body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--accent-color);
    height: auto;
}

nav {
    display: flex;
  background-color: var(--primary-color);
  color: var(--text-color);
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap:2%
}

.searchButtons {
  background-color: var(--component-color);
  box-shadow: 0 2px 4px var(--shadow-color);
    padding: 8px;
  border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.tratte {
    background-color: var(--background-color);
  color: var(--text-color);
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    font-size: 150%;
}

.tratte:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrow {
    font-size: 30px;
  margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.frecciaSu {
    transform: rotate(180deg);
}


@media (max-width: 660px){
    nav{
        flex-direction: column;

    }
    .searchButtons{
        margin: 10px !important;
    }

}
.unVenditore {
  border: 1px solid var(--secondary-text-color); /* Cambia il colore del bordo */
  background-color: var(--component-color);
  padding: 15px;
  margin: 10px;
  text-align: left;
  display: inline-block;
  cursor: pointer;

  transition: background-color 0.3s ease; /* Aggiunge un effetto di transizione al cambio di colore */

  /* Aggiunge ombra sottile */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Aggiunge un bordo arrotondato */
  border-radius: 8px;
}

.unVenditore:hover {
  background-color: var(--primary-color); /* Cambia il colore al passaggio del mouse */

}


/* Style for vettori */
.vettori {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
flex-direction: row;

}
.selected{
  cursor: default;
}
.selected img {
  cursor: pointer;
}
.selected span {
  cursor: pointer;
}



