<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recupero Password - Ready2Road</title>
    <!-- Tema -->
    <link id="theme-style" href="css/lightStyle.css" rel="stylesheet" type="text/css"/>

    <!-- Meta tag per il responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="../css/login.css">
    <link type="text/css" rel="stylesheet" href="../css/recoveryPassword.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Icona Sito -->
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <!-- Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>

    <!-- Contenitore recupero password -->
    <div class="sfondo animate__animated animate__fadeIn">

        <div th:if="${jsessionid}" class="container login col-lg-4" id="loginContainer" style="margin-top: 100px;">

            <!-- Scritta Recupero -->
            <div class="col" style="text-align: left;">
                <h2><strong>Recupero Password</strong></h2>
            </div>

            <!-- Campo password -->
            <div class="col" style="text-align: left; margin-top: 20px;">
                <label class="form-label">Nuova Password</label>
            </div>
            <div class="col input-group">
                <input type="password" class="form-control blackPlaceholder" placeholder="newPassword" name="password" id="password" required>
                <button class="input-group-text" id="viewP"><i class="fa-solid fa-eye" id="eye"></i></button>
            </div>

            <div class="col" style="text-align: left; margin-top: 20px;">
                <label class="form-label">Ripeti Password</label>
            </div>
            <div class="col input-group">
                <input type="password" class="form-control blackPlaceholder" placeholder="repeatPassword" name="passwordRepeat" id="passwordRepeat" required>
                <button class="input-group-text" id="viewRepeat"><i class="fa-solid fa-eye" id="eyeRepeat"></i></button>
            </div>

            <!-- Bottone di login -->
            <div class="col" style="text-align: center;">
                <input type="submit" id="accediButton" value="Modifica" class="btn btn-primary" onclick="send()">
            </div>
        </div>

        <!-- Contenitore vuoto per lasciare un pò di spazio sotto -->
        <div style="height: 100px;" id="emptyContainer"></div>

    </div>

    <!-- Script per passare i dati relativi alla email dal model alla funzione di validazione javascript -->
    <script th:inline="javascript">
        function send(){
            /*<![CDATA[*/

                validateRecoveryPassword(/*[[${email}]]*/ 'default');

            /*]]>*/
        }
    </script>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Script -->
    <script src="../js/loginScript/recoveryTheme.js"></script>
    <script src="../js/loginScript/managePasswordLogin.js"></script>
    <script src="../js/loginScript/validateRecovery.js"></script>
</body>
</html>